<!DOCTYPE html>

<html lang="es">
    <head>
        <title>Colombia gas natural</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../static/css/normalize.css"/>
        <link rel="stylesheet" href="../static/css/estilos.css"/>
    </head>
    <body class="Cuerpo">
        <header id="Nosotros" class="Header">
            <nav class="MainMenu">
                <ul class="MainMenu-list">
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#Inicio">Inicio</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#Quienessomos">Quienes Somos</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#Servicios">Servicios</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#contacto">Contáctenos</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section id="Quienessomos" class="Profile">
            <div class="u-containerDefault"> 
                <h2 class="Profile-title u-title">Quienes Somos</h2>

                <p class="Profile-description">Puedes <strong>visitar</strong> mis redes <span class="Profile-span">sociales</span> si quieres <em>seguirme</em></p>

                <a class="Profile-link" href="http://twitter.com/leonidasesteban/">@LeonidasEsteban</a>

                <a class="Profile-link" href="http://facebook.com/leonidasesteban/">LeonidasEsteban</a>

                <a class="Profile-link" href="http://github.com/leonidasesteban/">LeonidasEsteban</a>
            </div>
        </section>
        <section id="Servicios" class="Work">
            <div class="u-containerDefault"> 
                <h2 class="Work-title u-title">Servicios</h2>
            </div>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/proyecto.jpg" alt="Mejorando.la"/>
                        <figcaption>Sitio de Mejorando.la</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/proyecto.jpg" alt="Mejorando.la"/>
                        <figcaption class="Work-description">Sitio de Mejorando.la</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/proyecto.jpg" alt="Mejorando.la"/>
                        <figcaption class="Work-description">Sitio de Mejorando.la</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/proyecto.jpg" alt="Mejorando.la"/>
                        <figcaption class="Work-description">Sitio de Mejorando.la</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/proyecto.jpg" alt="Mejorando.la"/>
                        <figcaption class="Work-description">Sitio de Mejorando.la</figcaption>
                    </figure>
                </article>
        </section>
        <footer id="contacto" class="Footer">
            <div class="Footer-left">
                <h3 class="Footer-title">Contacto</h3>
                <p class="Footer-description">Si quieres contratarme puedes escribirme en este pequeño formulario</p>
            </div>
            <form action="" class="Footer-form">
                <input type="text" placeholder="Nombre" class="Footer-input">
                <input type="email" placeholder="Email" class="Footer-input">
                <textarea placeholder="motivo" class="Footer-textarea"></textarea>
                <button type="submit" class="Footer-button">Contactarme</button>
            </form>
        </footer>
    </body>
</html>

